<a name="header"></a>
<div class="intro-header" style="background: url('{{ site.url }}/{{ site.baseurl }}/{{ page.header-img }}') no-repeat center center;">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    {% if page.type == 'home' %}
                    <h1><span style="color: #00427A;">RVG</span> <span style="color: #9CB831;">Accounting Limited</span></h1>
                    {% else %}
                    <h1><span style="color: #E3E3E3;">{{ page.title }}</span></h1>
                    {% endif %}
                    {% if page.tagline_status %}
                    <h3 style="color: #333333;">{{ page.tagline }}</h3>
                    {% endif %}
                    {% if page.buttons %}
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="{{ '/about-us/' | prepend: site.baseurl | prepend: site.url }}" class="btn btn-lg btn-blue">About us</a>
                        </li>
                        <li>
                            <a href="{{ '/our-services/' | prepend: site.baseurl | prepend: site.url }}" class="btn btn-lg btn-blue">Our services</a>
                        </li>
                        <li>
                            <a href="{{ '/contact-us/' | prepend: site.baseurl | prepend: site.url }}" class="btn btn-lg btn-blue">Contact us</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>